.player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 5px 10px;

    img {
        width: 50px;
        border-radius: 100%;
    }

    span {
        padding-left: 20px;
    }
}

.player-active {
    background-color: red !important;
}