.player {
    color: rgb(22, 22, 22);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 5px 10px 5px 5px;
    width: 150px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;

    &:hover {
        background-color: rgba(251, 255, 0, 0.623);
        filter: brightness(1.15);
    }

    img {
        width: 50px;
        border-radius: 100%;
        background-color: white;
    }

    span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px 0 10px 0;
        text-align: center;
        padding-left: 10px;
    }
}

.player-active {
    background-color: rgba(104, 58, 183, 0.89) !important;

    &:hover {
        background-color: rgba(251, 255, 0, 0.623) !important;
        filter: brightness(1.15);
    }
}