.field {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/images/table.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;

        @media (max-width: 720px) {
            width: 90px;
        }
    }
}

.top-card {
    cursor: pointer;
    transition: transform 225ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    transition: transform 225ms ease-in-out;
    animation: pick-card-animation 1s linear both;

    @media (max-width: 720px) {
        animation: pick-card-animation-mobile 1s linear both;
    }
}

.played-card {
    right: 25px;
    transform: scale(1) translateX(150px) translateY(-200px) rotate(-30deg);
    
    @media (max-width: 720px) {
        transform: scale(1) translateX(90px) translateY(-170px) rotate(-30deg);
    }
}

.scroll-container {
    overflow-x: auto;
    display: flex;
    position: absolute;
    padding-bottom: 8px;
    left: 0;
    top: 0;
    right: 0;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.5);
    }

    30% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1) translateX(150px) translateY(-200px) rotate(-30deg);
    }
}

@keyframes pick-card-animation-mobile {
    0% {
        transform: scale(1.5);
    }

    30% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1) translateX(90px) translateY(-170px) rotate(-30deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 10;
}

.btn-add {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.player-mobile {
    margin-right: 8px;
}

app-player, app-player-mobile {
    cursor: pointer;
}

.preload-image {
    opacity: 0;
    position: absolute;
    z-index: -9999;
    width: 0px;
    height: 0px;
}