<h1 mat-dialog-title>Add new Player</h1>
<div mat-dialog-content>
  <p>Please enter the name of a player!</p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Profile picture</mat-label>
      <mat-select [(ngModel)]="data.selectedValue" name="selectedValue">
        <mat-option *ngFor="let avatar of game.avatar; let i = index" [value]="avatar">
          <div class="select-item">
            <img class="profile-pictures" src="assets/images/profile/{{avatar}}">
            {{avatar.split('.')[0].toUpperCase()}}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="data.name.length == 0 || data.selectedValue.length == 0" [mat-dialog-close]="data"
    cdkFocusInitial>Ok</button>
</div>